<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Men</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Customize</a>
      </li>
    </ul>
    <a href="#" class="col-5 d-flex justify-content-center text-center"><img src="../../../assets/Logo_NIKE.svg.png"
        width=" " height="25"></a>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item" style="margin-left: 20px;"><i class="fas fa-search"></i></li>
    <li class="nav-item"><i class="fas fa-shopping-bag"></i></li>
    <li class="nav-item">
      <a class="button text-decoration-none" routerLink="/login"><i class="fas fa-user-alt"></i></a></li>
  </ul>
</nav>
