<section style="height: 400px; background-color: #f2f2f2">
  <div class="container">
    <!-- Left Column Details -->
    <div class="row" style="margin-left: 60px">
      <div class="col">
        <p class=" fw-bold mb-2" style="font-size: 20px; margin-top:100px; color: black;">Amazing sneakers
        </p>
        <p class="mb-2" style="font-size: 20px; margin-top:20px; color: black;">Get ready to get trained </p>
        <button type="button" class="btn btn-light" style="margin-top:50px;border-color: black;">JUST DO IT</button>
      </div>
      <div class="col" style="margin-left:0px">
        <!-- Right Image -->
        <img height="400px" width="700px"
          src="https://images.pexels.com/photos/786003/pexels-photo-786003.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="sneaker" />
      </div>
    </div>
  </div>
</section>

<section style="height: 870px; background-color: #f2f2f2">
  <div class="container">
    <div class="row">
      <!-- Footwear details -->
      <p class=" fw-bold mb-2" style="font-size: 20px; margin-top:50px; margin-left:0px; color: black;">Footwear
      </p>
      <!-- Product details -->
      <div class="col-sm-4" style="margin-top:50px">
        <mat-card>
          <img mat-card-image
            src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/668d30af-b513-4a6f-b2e0-8eb89626166b/air-vapormax-2021-fk-shoe-dTnvq3.png" />
          <mat-card-title style="font-size: 20px;">NIKE AirMax 2090<div style="text-align: right;">₹8,295</div>
          </mat-card-title>
          <mat-card-subtitle style="font-size:18;">Men's Shoe <div style="text-align: right;">(In Stock)</div>
          </mat-card-subtitle><a class="button text-decoration-none" style="margin-left:1px; font-size: 18;"
            routerLink="/product">See More ›
          </a>
        </mat-card>
      </div>
      <div class="col-sm-4" style="margin-top:50px">
        <mat-card>
          <img mat-card-image
            src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/18733b18-66b2-430a-bde8-abf71d108635/air-max-90-big-kids-shoes-WQxv40.png" />
          <mat-card-title style="font-size: 20px;">NIKE SB Sandy ZoomX 2090<div style="text-align: right;">₹15,959</div>
          </mat-card-title>
          <mat-card-subtitle style="font-size:18;">Men's Shoe <div style="text-align: right;">(In Stock)</div>
          </mat-card-subtitle>
          <mat-card-actions style="margin-left:1px; font-size: 18;">See More › </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-4" style="margin-top:50px">
        <mat-card>
          <img mat-card-image
            src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/c2bdc4f4-e9d9-492b-9896-1be054701595/air-max-90-shoes-hGrzDR.png" />
          <mat-card-title style="font-size: 20px;">NIKE Flyknit<div style="text-align: right;">₹9,599</div>
          </mat-card-title>
          <mat-card-subtitle style="font-size:18;">Men's Shoe <div style="text-align: right;">(In Stock)</div>
          </mat-card-subtitle>
          <mat-card-actions style="margin-left:1px; font-size: 18;">See More › </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
