<!-- Left Menu -->
<a href="#" class="col-5 d-flex p-5"><img src="../../../assets/Logo_NIKE.svg.png" width=" " height="25"></a>
<div class="row" style="height: 600px">
  <div class="col-sm-3">
    <div class="fw-bold px-3">Men</div>
    <br />
    <br />
    <div class="fw-bold px-5">Shoes</div><br /><br />
    <div class="fw-bold px-5">Clothing</div><br /><br />
    <div class="fw-bold px-5">Gear</div><br /><br />
    <div class="fw-bold px-5">Support</div><br /><br />
  </div>
  <!-- Left Menu End-->
  <!-- Card Product Details -->
  <div class="col-sm-4">
    <mat-card-subtitle style="font-size: 18px;">
      Men's shoe
    </mat-card-subtitle><br /><br />
    <mat-card-title class="fw-bold mt-2" style="font-size:48px; position:relative; height:300px">
      Nike Air Zoom Rival
    </mat-card-title><br /><br />
    <mat-card-subtitle style="font-size:15px">
      Take your first steps into speed with the Nike Air Zoom Rival Fly 3. Made for training and racing, it helps keep
      you comfortably contained, so your foot stays in place. Its durable design features abrasion-resistance where you
      need it, while soft foam is combined with a Zoom Air unit for a snappy feel as you push towards the finishing
      line.
    </mat-card-subtitle><br /><br />
    <div class="row">
      <div class="col d-grid gap-2">
        <button type="button" class="btn btn-dark mt-4"><i class="fas fa-shopping-bag"></i> Add To Cart</button>
        <button type="button" class="btn btn-outline-dark mt-4"><i class="fas fa-star"></i> Add To Favorites</button>
      </div>
      <div class="col"><br />
        <mat-card-subtitle class="px-5" style="font-size: 18px;">(In Stock)</mat-card-subtitle><br /><br />
        <mat-card-title class="fw-bold px-5" style="font-size:46px">₹8,295</mat-card-title><br /><br />
        <mat-card-subtitle class="px-5" style="font-size: 18px;">Inc. of all taxes</mat-card-subtitle>
      </div>
    </div>
  </div>
  <!-- Product Details End -->
  <!-- Right Image Carousel -->
  <div class="col-sm-4">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://static.nike.com/a/images/f_auto,b_rgb:f5f5f5,w_440/ddc4f569-48bf-4793-b86a-3b4bbeddb95a/air-zoom-rival-fly-3-racing-shoe-XbhTCL.png"
            class="rounded mx-auto d-block" alt="first">
        </div>
        <div class="carousel-item">
          <img
            src="https://static.nike.com/a/images/f_auto,b_rgb:f5f5f5,q_80,w_440/8464ba9d-620f-4094-931a-35d54a2bac1e/air-zoom-rival-fly-3-racing-shoe-XbhTCL.png"
            class="rounded mx-auto d-block" alt="first">
        </div>
        <div class="carousel-item">
          <img
            src="https://static.nike.com/a/images/f_auto,b_rgb:f5f5f5,q_80,w_440/6716ceb6-6982-4ebf-ad4c-a9723b338b91/air-zoom-rival-fly-3-racing-shoe-XbhTCL.png"
            class="rounded mx-auto d-block" alt="first">
        </div>
        <div class="carousel-item">
          <img
            src="https://static.nike.com/a/images/f_auto,b_rgb:f5f5f5,q_80,w_440/c6456027-8b0e-4a45-a338-015f63de5bdf/air-zoom-rival-fly-3-racing-shoe-XbhTCL.png"
            class="rounded mx-auto d-block" alt="first">
        </div>
        <div class="carousel-item">
          <img
            src="https://static.nike.com/a/images/f_auto,b_rgb:f5f5f5,q_80,w_440/0260f42f-90f2-4849-abf9-7e3b71719899/air-zoom-rival-fly-3-racing-shoe-XbhTCL.png"
            class="rounded mx-auto d-block" alt="first">
        </div>
        <div class="carousel-item">
          <img
            src="https://static.nike.com/a/images/f_auto,b_rgb:f5f5f5,q_80,w_440/664e0e9f-8172-4860-95cb-091722214713/air-zoom-rival-fly-3-racing-shoe-XbhTCL.png"
            class="rounded mx-auto d-block" alt="first">
        </div>
        <div class="carousel-item">
          <img
            src="https://static.nike.com/a/images/f_auto,b_rgb:f5f5f5,q_80,w_440/e4184c50-d414-452f-aa8f-c6a1e0b7a54c/air-zoom-rival-fly-3-racing-shoe-XbhTCL.png"
            class="rounded mx-auto d-block" alt="first">
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
